#banner {
     color: rgb(183, 255, 0);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
     border-radius: 15px;
     border: solid yellow;
     background-color: rgb(255, 255, 255);
  }



  .btn 
  {
    
    border-radius: 15px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(242, 255, 0);
    border: solid 2px yellow;
    color: rgb(0, 0, 0);
  
  }